<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296634681273-m8ro0187u0d67n0or1ethoff6kc79isi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296634681273-m8ro0187u0d67n0or1ethoff6kc79isi</string>
	<key>API_KEY</key>
	<string>AIzaSyC8Cbu3jV7nIx1a9K6arlBr5w5JQs1Pp9U</string>
	<key>GCM_SENDER_ID</key>
	<string>296634681273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.yogan.quizzer</string>
	<key>PROJECT_ID</key>
	<string>quizapp-fa480</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-fa480.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296634681273:ios:75f81d5510e8ebf963d868</string>
</dict>
</plist>